nav{
display: flex;
width: 80vw;
justify-content: flex-start;
align-items: center;
padding: 1rem;
}

.navbar{
display: flex;
flex-direction: row;
background-color: rgb(230, 228, 228);
height: 45px;
width: 99vw;
justify-content: space-between;
align-items: center;
position: fixed;
margin: 0%;

}
.navbar nav{
justify-content:flex-end;
}

.DH-odonto{
display: flex;
flex-direction: row;
justify-content: flex-end;
width: 120px;
font-weight: 400;
font-size: 20px;
margin: 0%;
}

.navbar nav h3{
font-weight: 500;
margin-right: 1vw;
font-size: 1.4vw;
}

.navbar nav button{
border: none;
cursor: pointer;
}
.navbar nav .theme-btn:hover{
background-color: rgb(136, 136, 136);
filter: brightness(120%);
}
.back-btn:hover{
color: rgb(136, 136, 136);
}


.back-btn{
color: #000;
font-size: 20px;
font-weight: bold;
background-color: rgb(228, 230, 229);
margin: 5px;
}

.navbar nav .theme-btn{
margin:0%;
padding: 0px 1px 1px 0px;
background-color: #000000c4;
height: 25px;
width: 25px;
font-size: 15px;
border-radius: 5px;

}


.dark .navbar{

background-color: rgb(46, 44, 44);
color:aliceblue ;

}
.dark h3{

color:aliceblue ;

}

.dark .back-btn{
color: #f4f3f3;
background-color: rgb(46, 44, 44);

}
.navbar nav .theme-btn{
background-color:#f4f3f3;
}

.dark .navbar nav .theme-btn:hover{
filter: brightness(150%);
}
.back-btn:hover{
color: rgb(238, 227, 78);
}
.dark a .nav-h3:hover{
color: rgb(238, 227, 78);
}

